/.idea/
/logs/projectname_IS_UNDEFINED/logback.2023-07-11.0.log.zip
/logs/projectname_IS_UNDEFINED/logback.2023-12-10.0.log.zip
/logs/projectname_IS_UNDEFINED/logback.2023-12-13.0.log.zip
/logs/projectname_IS_UNDEFINED/logback.log
/simplejob-finance/.idea/.gitignore
/simplejob-finance/.idea/compiler.xml
/simplejob-finance/.idea/encodings.xml
/simplejob-finance/.idea/jarRepositories.xml
/simplejob-finance/.idea/misc.xml
/simplejob-finance/.idea/uiDesigner.xml
/simplejob-finance/.idea/vcs.xml
/simplejob-finance/logs/projectname_IS_UNDEFINED/logback.log
/simplejob-finance/target/classes/com/simple/job/finance/entity/TabSharesData.class
/simplejob-finance/target/classes/com/simple/job/finance/entity/TabSharesQuota.class
/simplejob-finance/target/classes/com/simple/job/finance/entity/TabShareSwitch.class
/simplejob-finance/target/classes/com/simple/job/finance/entity/TabTradeDate.class
/simplejob-finance/target/classes/com/simple/job/finance/job/FetchSharesListJobDaily.class
/simplejob-finance/target/classes/com/simple/job/finance/job/FetchSharesQuotaJobDaily.class
/simplejob-finance/target/classes/com/simple/job/finance/job/FetchSwitchHDailyJob.class
/simplejob-finance/target/classes/com/simple/job/finance/job/TradeDateJobDaily.class
/simplejob-finance/target/classes/com/simple/job/finance/mapper/TabSharesDataMapper.class
/simplejob-finance/target/classes/com/simple/job/finance/mapper/TabSharesQuotaMapper.class
/simplejob-finance/target/classes/com/simple/job/finance/mapper/TabShareSwitchMapper.class
/simplejob-finance/target/classes/com/simple/job/finance/mapper/TabTradeDateMapper.class
/simplejob-finance/target/classes/com/simple/job/finance/request/DataModelReq.class
/simplejob-finance/target/classes/com/simple/job/finance/request/DataModelResp.class
/simplejob-finance/target/classes/com/simple/job/finance/request/ModelReq.class
/simplejob-finance/target/classes/com/simple/job/finance/request/ModelResp.class
/simplejob-finance/target/classes/com/simple/job/finance/service/impl/FetchSharesQuotaServiceImpl.class
/simplejob-finance/target/classes/com/simple/job/finance/service/impl/FetchSwitchHDailyServiceImpl.class
/simplejob-finance/target/classes/com/simple/job/finance/service/impl/TabTradeDataServiceImpl.class
/simplejob-finance/target/classes/com/simple/job/finance/service/impl/TradeDateServiceImpl.class
/simplejob-finance/target/classes/com/simple/job/finance/service/IFetchSharesQuotaService.class
/simplejob-finance/target/classes/com/simple/job/finance/service/IFetchSwitchHDailyService.class
/simplejob-finance/target/classes/com/simple/job/finance/service/ITabTradeDataService.class
/simplejob-finance/target/classes/com/simple/job/finance/service/ITradeDateService.class
/simplejob-finance/target/classes/com/simple/job/finance/utils/CommonUtils.class
/simplejob-finance/target/classes/com/simple/job/finance/utils/MybatisPlusGenerator.class
/simplejob-finance/target/classes/com/simple/job/finance/utils/SharesTradeUtils.class
/simplejob-finance/target/classes/com/simple/job/finance/FinanceJobApplication.class
/simplejob-finance/target/classes/mapper/TabSharesDataMapper.xml
/simplejob-finance/target/classes/mapper/TabSharesQuotaMapper.xml
/simplejob-finance/target/classes/mapper/TabShareSwitchMapper.xml
/simplejob-finance/target/classes/mapper/TabTradeDateMapper.xml
/simplejob-finance/target/classes/application.properties
/simplejob-finance/target/classes/logback-spring.xml
/simplejob-finance/target/maven-archiver/pom.properties
/simplejob-finance/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/simplejob-finance/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/simplejob-finance/target/simplejob-finance.jar
/simplejob-finance/target/simplejob-finance.jar.original
